<footer class="footer">
    <div class="footer__grid contenedor">
        <div class="footer__widget"  *ngFor="let content of navOptions">
            <h3 class="footer__heading">{{content}}</h3>
            <nav class="footer__menu">
                <a class="footer__link">Enlace 1</a>
                <a class="footer__link">Enlace 2</a>
                <a class="footer__link">Enlace 3</a>
                <a class="footer__link">Enlace 4</a>
            </nav>
        </div>
    </div>

    <div class="footer__barra contenedor">
        <nav class="footer__barraNav"> 
            <a class="footer__link footer__link--barra">Enlace nuevo</a>
            <a class="footer__link footer__link--barra">Enlace nuevo</a>
            <a class="footer__link footer__link--barra">Enlace nuevo</a>
            <a class="footer__link footer__link--barra">Enlace nuevo</a>
        </nav>
    </div>
</footer>